<!-- <div class="container">
    
    <div class="row">
       <div class="text-center col-md-6">
        <img class="img-responsive" style="width:300px;height:280px;margin-left: auto; margin-right: auto; " src="https://sanjayv.github.io/ng-image-slider/contents/assets/img/slider/9.jpg"> 
         <!-- <div class="bg-info">Widget 1</div> 
       </div>
       <div class="text-center col-md-6">
        <img class="img-responsive" style="width:300px;height:280px;margin-left: auto; margin-right: auto; " src="https://sanjayv.github.io/ng-image-slider/contents/assets/img/slider/9.jpg"> 
           <!-- <div class="bg-info">Widget 2</div> 
       </div>
   </div> -->

   <div class="container-fluid p-0 m-0">
    <div class="row">
        <div class="col-md-6">
<div id="example">
<div class="but1">
<!--Card image-->
<img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20%282%29.jpg" style="width:500px;height:380px;" alt="Card image cap">
<div class="text-block">
    <p class="font-weight-bolder h6 text-center">Nature</p>
    <p class="text-center">What a beautiful sunrise<br>
     sunrise</p>
    <div class="wrap">
        <button class="button" routerLink="/gallery">SHop Products</button>
      </div>

</div>
</div>
</div>
</div>    

<!-- second-->
<div class="col-md-6">
    <div id="example">
    <div class="but1">
    <!--Card image-->
    <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20%282%29.jpg" style="width:500px;height:380px;" alt="Card image cap">
    <div class="text-block">
        <p class="font-weight-bolder h6 text-center">Nature</p>
        <p class="text-center">What a beautiful sunrise<br>
            sunrise</p>
        <div class="wrap">
            <button class="button" routerLink="/gallery">SHop Products</button>
          </div>
    
    </div>
    </div>
    </div>
    </div>    
</div>
</div>