body {
    margin: 0;
    font-family: Helvetica, sans-serif;
    font-size: xx-large;
  }
   
  .topnav {
    overflow: hidden;
    background-color: #03c4fc;
  }
  
  .topnav a {
    float: left;
    color: #141818;
    text-align: center;
    padding: 30px 25px;
    text-decoration: none;
    font-size: 20px;
  }
    /* .topnav a:hover {
    background-color: rgb(172, 233, 31);
    color: black;
  } */
  
  /* .topnav a.active {
    background-color: rgb(217, 240, 9);
    color: white;
  } */

  /* .navbar-brand {
    flex: 1 1 auto;
    padding : 10px;
    margin: auto;
    text-align: center;
    position: relative;
     left:430px;
  }  */
  /* .navbar-brand {
  z-index: 2;
    float: none;
    width: 100%;
    text-align: center;
    font: 400 13px/40px 'Open Sans', Arial, Helvetica, sans-serif;
  } */
  /* @media (min-width: 768px) {
    .navbar-brand.abs
        {
            position: absolute;
            width: 100%;
            left: 0;
            text-align: center;
  
        }
    } */

    .navbar-logo {
      width: 90px;
    }
    
