p {
    font-family: Lato;
  }

  .writing{
    
    padding-left:80px;
    padding-top:50px;
}
body {
  background: #b62e6d4a;
  text-align: center;
 /* padding-top: 20px;
  padding-bottom: 20px; */
}  
