<!-- <div class="p-4"> -->
    <!-- <div class="container">  -->
        <meta name="viewport" content="width=device-width, initial-scale=1">  
        <div class = "container-fluid ">
          <div class="a">
            <img class="img-responsive" style="float:left;width:550px;height:400px;margin-left: auto; margin-right: auto; " src="https://cdn.britannica.com/74/114874-050-6E04C88C/North-Face-Mount-Everest-Tibet-Autonomous-Region.jpg"> 
           </div>
        <div class="writing text-center">
            <code>New!</code>
            <h2>Bright Idea</h2>
            <p>Get it bright! Packed with beaty secert:)</p>
            <div class="wrap">
                <button class="button" routerLink="/gallery">SHop VProducts</button>
              </div>
              
            <!-- <button type="button" class="btn btn-info shadow">Shop Vproducts</button> 
            <div class="shadow p-3 mb-5 bg-yellow rounded">Regular shadow</div>  
            </div> -->
        </div>
     <!-- </div>     -->
 <!-- </div>  -->



<!-- 
<div class="media">
    <img src="https://im.idiva.com/content/2018/Aug/lakme_sun_expert_spf_50_pa___ultra-matte_lotion.jpg" class="image-circle" alt="Cinque Terre" width="480" height="360">
    <div class="media-body">
      <h5 class="mt-0" class="text-center">Media heading</h5>
    </div>
</div>  -->